# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html
#
# alphabetical order
#
김도형 - Keedi Kim     <keedi@cpan.org> <keedi.k@gmail.com> <keedi.kim@silex.kr>
유용빈 - Yongbin Yu    <yongbin@cpan.org> <supermania@gmail.com> <yongbin.yu@gmail.com> <yongbin.yu@silex.kr>
조한영 - Han Cho       <rumidier@gmail.com> <hanyoung.cho@silex.kr>
홍형석 - Hyungsuk Hong <aanoaa@cpan.org> <aanoaa@gmail.com> <hyungsuk.hong@silex.kr>
